#filter-wrapper {
  #filter-option-wrapper {
    display: flex;
    margin-top: 15px;
    #filter-button {
      cursor: pointer;
      border-radius: 4px 0px 0px 4px;
      background: white;
      border: 1px solid #E0E0E0;
      outline: none;
      min-width: 150px;
      height: 35px;
      svg {
        margin: 0 0 2px 10px;
      }
    }
    #filter-search {
      border-radius: 0px 4px 4px 0px;
      background: white;
      border: 1px solid #E0E0E0;
      border-left: none;
      height: 35px;
      display: flex;
      width: -webkit-fill-available;
      padding-right: 10px;
      #filter-search-icon {
        margin: 4px 10px 0 15px;
      }
      #filter-search-input {
        border: none;
        width: -webkit-fill-available;
        outline: none;
      }
      &:focus-within {
        box-shadow: 0 0 0 1px #08f;
        border: 1px solid #08f
      }
    }
  }

  #filter-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    .filter-option-info {
      display: flex;
      white-space: nowrap;
      background: #DFE4E8;
      border-radius: 4px;
      height: 28px;
      width: fit-content;
      padding: 3px 10px 0;
      margin: 10px 15px 0px 0;
      svg {
        cursor: pointer;
        margin: 0 0 3px 10px;
      }
    }
  }
}
