#wrapper-pagination {
    display: flex;
    white-space: nowrap;
    margin: 20px;
    font-size: 14px;
    #pagination-count {
      max-width: 270px;
      flex-grow: 1;
      padding-top: 7px;
    }
    #pagination-size {
      max-width: calc(100% - 640px);
      width: -webkit-fill-available;
      display: flex;
      padding: 0 calc(50% - 400px);
      .pagination-size-text {
        padding-top: 7px;
      }
      .pagination-size-option {
        .pagination-size-button {
          cursor: pointer;
          margin: 0 5px;
          background: #FCFCFD;
          border: 1px solid #E0E0E0;
          border-radius: 4px;
          height: 34px;
          outline: none;
          width: 55px;
          position: relative;
          text-align: left;
          padding: 0 0 0 10px;
          &:hover {
            background: #FFF;
          }
          svg {
            position: absolute;
            top: 13px;
            right: 10px;
          }
        }
        .pagination-size-button::after {
          display: none;
        }
        .pagination-size-menu {
          min-width: 55px;
          font-size: 14px;
          width: 55px;
          padding: 0;
          .pagination-size-item {
            cursor: pointer;
            padding-left: 10px;
            color: #333333;
            width: 55px;
            &:hover {
                background: #0084ff;
                color: white;
            }
          }
        }
      }
    }
  
    #pagination-page {
      max-width: 370px;
      width: -webkit-fill-available;
      .ul-pagination {
        float: right;
        display: flex;
        cursor: pointer;
        margin: 0;
        padding-left: 0px;
        border-radius: 4px;
        li {
          display: inline;
          background: white !important;
          a {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.4285;
            color: #0088ff;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
          }

        }
        .disabled {
          a {
            cursor: not-allowed;
            color: #777;
          }
        }
        a {
          cursor: pointer;
          color: #0088ff;
        }
        .active {
          a {
            color: white;
          }
        }
      }
    }
  }
  