.info-product-left {
    .card {
        padding: 15px;
        background: #ffffff;
        border: 1px solid #d3d3d3;
        box-sizing: border-box;
        border-radius: 4px;
        padding-bottom: 0px;

        .title {
            font-size: 16px;
            font-weight: 600;
            color: #212b35;
            border-bottom: 1px solid #e3e3e3;
            margin-left: -16px;
            margin-right: -16px;
            padding-left: 16px;
            padding-bottom: 17px;
        }

        .content {
            padding: 1rem;

            textarea {
                height: 100px;
                width: 100%;
                border: 1px solid #c4cdd5;
                padding: 6px;
                outline-color: #0088ff;
                border-radius: 3px !important;
            }

            .control-label {

                margin-bottom: 10px;
            }

            input {
                display: inline-block;
                // vertical-align: baseline;
                width: auto;
                height: 34px;
                padding: 1px;
                margin: 0;
                color: #000;
                -webkit-appearance: none;
                -moz-appearance: none;
                padding: 4px 2px 4px 6px;
                font-weight: 400;
                text-transform: none;
                letter-spacing: normal;
                box-sizing: border-box;
                display: block;
                width: 100%;
                font-size: 13px;
                font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
                    Roboto, Helvetica Neue, sans-serif;
                border-style: inset;
                border: 1px solid #c4cdd5;
                border-radius: 3px !important;
                outline-color: #0088ff;
            }
        }
    }

    .info-product-left-02 {
        margin-top: 20px;
    }
}

.info-product-right-accessories {
    width: 100% !important;
    min-height: 285px;

    .text-image {
        font-weight: 600;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .preview-image {
        display: flex;
        padding-top: 56px;
        overflow: auto;
        &::-webkit-scrollbar {
            height: 5px;
            background: #fff;
            width: 7px;
            cursor: pointer;
            //border-radius: 5px;
          }
          &::-webkit-scrollbar-thumb {
            background: #c4c4c4;
            border-radius: 5px;
            width: 5px;
            cursor: pointer;
          }
        .image:first-child {
            width: 100px;
            height: 100px;
        }
        .image {
            width: 100px;
            height: 100px;
            padding: 5px;
        }
        .add-upload{
            min-width: 50px;
            width: 100px;
            height: 100px;
            background: #e6f5ff;
            border: 1px dashed #0089ff;
            box-sizing: border-box;
            border-radius: 8px;
            cursor: pointer;
            text-align: center;
            align-items: center;
            padding-top: 33px;
        }
        .image-input{
            width: 100px;
        }
    }

    .content-image {
        width: 140px;
        height: 110px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .card {
        padding: 15px;
        background: #ffffff;
        border: 1px solid #d3d3d3;
        box-sizing: border-box;
        border-radius: 4px;
        padding-bottom: 0px;
        width: 100%;
        min-height: 285px;

        .title {
            font-size: 16px;
            font-weight: 600;
            color: #212b35;
            border-bottom: 1px solid #e3e3e3;
            margin-left: -16px;
            margin-right: -16px;
            padding-left: 16px;
            padding-bottom: 17px;
        }

        .content {
            padding: 1rem;

            .control-label {
                margin-bottom: 10px;

            }

            textarea {
                font-size: 14px;
                width: 100%;
                padding: 8px;
                outline: none;
                resize: none;
                height: 90px;
                border: 1px solid #e0e0e0;
                border-radius: 4px;
            }
        }
    }
}
.div-send-img-file {
    margin: auto 2px 2px 0!important;
    min-width: 100px;
    .div_send_img {
      position: relative;
      margin-left: 10px;
      .img-file {
        border: 1px solid #337ab7;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
        padding: 2px;
        position: relative;
      }
  
      .remove_image {
        display: none;
      }
  
      svg {
        position: absolute;
        margin-left: 21px;
        margin-top: 21px;
      }
    }
    .div_send_img:hover {
      .remove_image {
        display: block;
        background-color: #7b7b7b;
        border-radius: 50%;
        height: 14px;
        width: 14px;
        right: 9px;
        top: 5px;
        margin-top: 0px;
        color: #fff;
        border: 1px solid;
        outline: none;
        font-size: 14px;
        margin-right: 2px;
        position: absolute;
        z-index: 10;
        span {
          position: absolute;
          top: -5px;
          right: 1px;
          cursor: pointer;
        }
      }
    }
    .div_send_file {
      border: 1px solid #337ab7;
      border-radius: 8px;
      width: 186px;
      height: 56px;
      display: flex;
      position: relative;
      .remove_file {
        display: none;
      }
      .img_file {
        border-right: 1px solid #337ab7;
        width: 56px;
        background: #08f;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        img {
          width: 80px;
          height: 80px;
          margin: 15px 15px;
        }
      }
      .name_file {
        padding-left: 5px;
        margin: auto 0;
        div {
          font-size: 14px;
          color: #1d2129;
          &:first-child {
            font-weight: 600;
            text-transform: uppercase;
          }
          &:last-child {
            white-space: nowrap;
            width: 115px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .div_send_file:hover {
      .remove_file {
        display: block;
        background-color: #7b7b7b;
        border-radius: 50%;
        height: 14px;
        width: 14px;
        right: 2px;
        top: 15px;
        margin-top: -14px;
        color: #fff;
        border: 1px solid;
        outline: none;
        font-size: 14px;
        margin-right: 2px;
        position: absolute;
  
        span {
          position: absolute;
          top: -4px;
          right: 2px;
          cursor: pointer;
        }
      }
    }
  }
  