#filter-modal-wrapper {
  font-size: 14px;
  background: white;
  position: absolute;
  min-width: 250px;
  border: 1px solid #e0e0e0;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #333333;
  top: 125px;
  left: 20px;
  z-index: 2;

  &::after {
    position: absolute;
    background: white;
    width: 12px;
    height: 12px;
    border-top: 0.25px solid #e0e0e0;
    border-left: 0.25px solid #e0e0e0;
    top: -7px;
    left: 0%;
    margin: 0px 0 0 100px;
    content: " ";
    transform: rotate(45deg);
  }

  #filter-modal-header {
    margin: 15px 20px 0;
  }

  #filter-modal-body {
    margin: 10px 0 0 20px;
    .filter-line {
      display: flex;
      margin-bottom: 10px;
      position: relative;
      padding-right: 40px;

      .filter-option {
        margin-right: 15px;
        .dropdown-button {
          cursor: pointer;
          background: #fcfcfd;
          border: 1px solid #e0e0e0;
          border-radius: 4px;
          height: 38px;
          outline: none;
          width: 185px;
          position: relative;
          text-align: left;
          padding-left: 10px;
          &:hover {
            background: #dfe4e8;
          }
          svg {
            position: absolute;
            top: 15px;
            right: 15px;
          }
        }
        .dropdown-button::after {
          display: none;
        }
        .dropdown-menu {
          font-size: 14px;
          width: 185px;
          padding: 0;
          cursor: pointer;
          .dropdown-item {
            cursor: pointer;
            color: #333333;
            padding: 9px;
            &:hover {
              background: #0084ff;
              color: white;
            }
          }
        }
      }

      .filter-detail {
        display: flex;
        .dateRange {
          margin-left: 0 !important;
          font-size: 14px;
          outline: none;
          box-shadow: none;
          background: #f8f8f8;
          border-radius: 5px;
          color: #2d2b2b;
          border: thin solid #e9ebed;
        }
        .active-status {
          .btn-active {
            margin-right: 10px;
            background: #f8f8f8;
            border-radius: 5px;
            color: #2d2b2b;
            border: thin solid #e9ebed;
            font-size: 13px;
            padding: 10px 10px;
            min-width: 115px;
            outline: none;
            cursor: pointer;
            &:hover {
              background: #0088ff !important;
              color: white !important;
            }
          }
          .btn-unActive {
            margin-right: 10px;
            background: #f8f8f8;
            border-radius: 5px;
            color: #2d2b2b;
            border: thin solid #e9ebed;
            font-size: 13px;
            padding: 10px 12px;
            min-width: 158px;
            outline: none;
            cursor: pointer;
            &:hover {
              background: #0088ff !important;
              color: white !important;
            }
          }
        }
      }

      .filter-bin {
        position: absolute;
        margin-top: 5px;
        right: 13px;
        svg {
          cursor: pointer;
        }
      }
    }
  }

  #filter-modal-footer {
    #filter-modal-action {
      margin: 5px 20px 10px;
      border: 1px solid #0084ff !important;
      background: linear-gradient(180deg, #0084ff, #4697fe);
      box-shadow: inset 0 1px 0 0 #1391ff;
      width: 60px;
      height: 35px;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      &:hover {
        background: linear-gradient(180deg, #4697fe, #0084ff) !important;
      }
    }
  }
}

.daterangepicker {
  display: flex;
}
